<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - zoo</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/zoo.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="header-nav-container">
            <ol>
                <li>
                    <a href="#">
                        🏠 Inicio
                    </a>
                </li>
                <li class="cd">
                    <a href="#">
                        🐅 Zoológicos registrados
                    </a>
                </li>
            </ol>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; 2022 - zoo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
