@{
    ViewData["Title"] = "Home Page";
}

<main>
  <section class="form-container">
    <form class="form">
      <label id="title-form">Datos del zoológico</label>
      <input type="text" id="zooName" placeholder="Nombre del zoológico">
      <input type="text" id="countryName" name="lname" placeholder="País del zoológico">
      <input type="text" id="cellphoneNumber" name="lname" placeholder="Escriba aquí">
      <input type="text" id="website" name="lname" placeholder="Sitio web">
      <button id="form-btn">Registrar</button>
    </form>
  </section>
</main>