:root {
  --main-bg-color: #002c00;
  --secondary-color: #34170c;
  --default-text-color: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  text-decoration: none;
  color: var(--default-text-color);
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  filter: blur(1px);
}

.header-nav-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 50px;
  filter: drop-shadow(2px 4px 6px var(--secondary-color));
}

.header-nav-container ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  border-bottom: 1px solid var(--secondary-color);
}

.header-nav-container ol li {
  display: flex;
  margin: 0.5rem 2rem;
  align-items: center;
  justify-content: center;
  width: 35%;
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2rem;
  padding: 0px 10px;
  background-color: transparent;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-text-color);
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.header-nav-container ol li:hover {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  transition: all 0.5s linear;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  filter: drop-shadow(2px 5px 10px black);
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

#title-form {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

input {
  width: 100%;
  height: 40px;
  margin: 1.5rem 0rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

label {
  max-width: 288px;
}

#form-btn {
  display: block;
  margin-top: 10px;
  padding: 10px 0;
  background: transparent;
  width: 100px;
  margin: 10px auto 0;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--secondary-color);
}

#form-btn:hover {
  filter: brightness(3);
  transition: all 0.4s linear;
}
